<!doctype html>

<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    

    {{ content_for_header }}            

  <body 
        class="warehouse--v1 
		{% if template.directory %}
			template-{{ template.directory | handle | replace: '_', '-' }}
		{% endif %}
		template-{{ template.name | handle | replace: '_', '-' }}
	"
	>
    <div>
    <h1>This is a testing file layout</h1>
    </div>

    {% section 'announcement-bar' %}

    {% section 'header' %}
	
    <main id="main" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'text-with-icons' %}
    {% section 'footer' %}
  {% if content_for_header contains 'bss-b2b' %}{% include 'bss-b2b-jquery-341-js' %}{% include 'bss-b2b-js' %}{% endif %}

  
  </body>
</html>
