<!doctype html>

<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->


    {{ content_for_header }}

    
  
                {% if content_for_header contains 'bss-b2b' %}{% include 'bss-b2b-cp-header' %}{% endif %}</head>
            

  <body 
        class="warehouse--v1 
		{% if template.directory %}
			template-{{ template.directory | handle | replace: '_', '-' }}
		{% endif %}
		template-{{ template.name | handle | replace: '_', '-' }}
	"
	>
    <div>
    <h1>This is a testing file layout</h1>
    </div>
{% capture the_snippet_content %}{% render 'socialshopwave-helper' %}{% endcapture %}
            {% unless the_snippet_content contains 'Liquid error' %}
              {{ the_snippet_content }}
            {% endunless %}
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5WBLWGN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <span class="loading-bar"></span>

    {% section 'announcement-bar' %}
    
    {%- unless request.page_type == 'cart' -%}
      {%- comment -%}As required by Shopify rules, popup must be removed on cart page to remove distraction{%- endcomment -%}
      {% section 'popups' %}
    {%- endunless -%}

    {% section 'header' %}
	
    <main id="main" role="main">
      {{ content_for_layout }}
    </main>

    {%- if request.page_type == 'blog' or request.page_type == 'article' or request.page_type == 'page' -%}
      {% section 'static-newsletter' %}
    {%- endif -%}

    {% section 'text-with-icons' %}
    {% section 'footer' %}
  {% if content_for_header contains 'bss-b2b' %}{% include 'bss-b2b-jquery-341-js' %}{% include 'bss-b2b-js' %}{% endif %}

  
  </body>
</html>
