<p class="add-ons-title">{{ section.settings.title }}</p>
<p>{{ section.settings.kit-details }}</p>

<div class="add-ons">
{% for block in section.blocks %}
	{% assign singleSku = block.settings.product_sku %}
	{% assign singleProduct = block.settings.product %}

	<section>
	  <div class='build-kit'>
	  	<div>
	      	<h1 style="font-size: 3vw; font-weight: bold; color: black;">{{ block.settings.title }}</h1>
	    
	      {% for option in singleProduct.variants %}
	          {% if option.sku == singleSku %}
        	<a href="{{ option.url }}">
            	<img src='{{ option.image | img_url }}' id='add-on'>
          	</a>
	    </div>
	            <h3 class='product-price' id='{{ option.id }}' data-price={{ option.price }}>{{ option.price | money }}</h3>
	            <h1>{{ option.title }}</h1>
	            <p id='addon-description'>{{ block.settings.description }}</p>

	            <div class='cart-button'>
					<button class="discount-page-button" >Add To Cart</button> 
				</div>
	          {% endif %}
	      {% endfor %}	      
	  </div>
	</section>
{% endfor %}
</div>

<script>
	// Add to cart
	var addToCart = function(e) {
		var products = this.parentElement.querySelectorAll('H3.product-price')
		var productsData = [];

		products.forEach( function(product) {
		    productsData.push({
		        quantity: 1,
		        id: product.id
		    })
		})

		var data = {
		    items: productsData
		}
	
		fetch('/cart/add.js', {
		    body: JSON.stringify(data),
		    credentials: 'same-origin',
		    headers: {
		        'Content-Type': 'application/json'
		    },
		    method: 'POST'
		}).then((response) => {
		    response.json();
		    window.location.reload();
		    // document.documentElement.dispatchEvent(
		    // 	new CustomEvent('cart:refresh', { bubbles: true })
		    // );
		}).then(data => {
		    console.log("Success", data)
		}).catch((err) => {
		    console.error(err)
		});
	}

	window.addEventListener('load', function(e) {
	    Array.prototype.forEach.call(
	        document.getElementsByClassName('cart-button'), function(element) {
	            element.addEventListener('click', addToCart)
	        }
	    );
	});
</script>

{% schema %}
	{
		"name": "Single Product",
		"tag": "div",
		"settings": [
			{	
				"id": "title",
				"type": "text",
				"label": "title"
			},{
				"id": "kit-details",
				"type": "html",
				"label": "Kit Details"
			}
		],
		"blocks": [
			{
				"type": "text",
				"name": "add on",
				"settings": [
					{	
						"id": "title",
						"type": "text",
						"label": "title"
					},
					{
						"type": "text",
						"id": "product_sku",
						"label": "Product Sku"
					},
					{
						"type": "product",
						"id": "product",
						"label": "Product"
					},
					{
						"type": "html",
						"id": "description",
						"label": "Product Description",
						"info": "Limit 350 characters"
					}
				]
			}
		],
		"presets": [
			{
				"category": "Product",
				"name": "Single Product",
				"settings": {}
			}
		]
	}
{% endschema %}


	
