<div class="center" style="display: flex; flex-direction: column;">
	<h1 style="font-size: 3vw; font-weight: bold; color: black; text-align: center;">{{ section.settings.title }}</h1>
  {% assign total = 0 %}
  	{% assign sku = section.settings.product_sku %}
  	{% assign prod = section.settings.product %}
  
  	{% for option in prod.variants %}
  		
  		{% if option.sku == sku %}
  			<img src='{{ option.image | img_url }}' style='width: 200px; margin: auto;'>
  			<h3 style="text-align: center;" id='{{ option.id }}'>Price: {{ option.price | money }}</h3>
  				{% assign total = total | plus: option.price | money %}
  
  			<p style='text-align: center;'>{{ option.id }}</p>
			<h1 style='text-align: center'>Sku: --- {{ sku }}</h1>
  		{% endif %}
  	{% endfor %}
  <p>This here: --- {{ total }}</p>
  
  <p>The Total: ----- {{ total }}</p>
  	
</div>

{% schema %}
	{
		"name": "Build A Kit",
		"tag": "aside",
		"settings": [
			{	
				"id": "title",
				"type": "text",
				"label": "title"
			},
			{
				"type": "text",
				"id": "product_sku",
				"label": "Product Sku"
			},
			{
				"type": "product",
				"id": "product",
				"label": "Product"
			}
		],
		"presets": [
			{
				"category": "Product",
				"name": "Build A Kit",
				"settings": {}
			}
		]
	}
{% endschema %}
