<h1>{{ section.settings.title }}</h1>

<h1>Discount Page H1</h1>
{% assign budCandy = all_products.advanced-nutrients-bud-candy %}
<h1>Bud Candy: {{ budCandy.title }}</h1>

<div>

	{% for product in all_products %}
		<h1>Test Product: {{ product }}</h1>
		{%- for value in option.value -%}
			{%- if value == "23 Liter" -%}  

		        <h1>Test Value: {{ value }}</h1>  
		        <h1>Test Name: {{ option.name }}</h1>
		        <h1>Test Selected Value: {{ option.selected_value }}</h1>
		    {%- endif -%}
		{%- endfor -%}
	{% endfor %}
</div>

{% schema %}
	{
		"name": "Document Title",
		"tag": "aside",
		"settings": [
			{
				"id": "title",
				"type": "text",
				"label": "Page Title"
			}
		]
	}
{% endschema %}