<div class="main-title">
	<h1>{{ section.settings.title }}</h1>
</div>

<div class='top-bottom'>
	{{ section.settings.top-of-page }}
</div>

<!-- Top of kit page -->
<div class="kit" id=0>
	<h4 id=50 class="kitTotal"></h4>

	<!-- outside for loop -->
  	{% for block in section.blocks %}

	  	{% capture variants %}
			{{ block.settings.productOne }}
			{{ block.settings.productTwo }}
			{{ block.settings.productThree }}
			{{ block.settings.productFour }}
			{{ block.settings.productFive }}
			{{ block.settings.productSix }}
		{% endcapture %}

		{% assign variantsArray = variants | split: ' ' %}

	  		{% assign sku = block.settings.productOne %}
	  		{% assign prod = block.settings.product %}

	  		<!-- CANNOT CHANGE HTML OR IT WILL BREAK THE JAVASCRIPT -->
			<div class="product-container" id="{{ prod.handle }}">

			  	<section class="title-description">
			  		<h2 class="prod-title">{{ block.settings.title }}</h2>
			  		<p>{{ block.settings.description | truncate: 352 }}</p>
			  	</section>

			  	<section class="eachProduct">
				  	{% for option in prod.variants %}
		          		{% if option.sku == sku %}
		      				{% if prod.has_only_default_variant %}
		      					<img src='{{ block.settings.image | img_url }}' style='width: 200px;' class="product-image">
							{% else %}
								<img class="product-image" src='{{ option.image | img_url }}'> 
							{% endif %}

		            		<h3 class='product-price' id='{{ option.id }}' data-price={{ option.price }}>{{ option.price | money }}</h3>
		    				
							<div class="dropDown">
								<label for='variants'>Choose a hose</label>
								<select name="variants" class="variants-selector">
									{% for sku in variantsArray %}
										{% for title in prod.variants %}
											{% if title.sku == sku %}
												<option value={{ sku }}>{{ title.title }}</option>
											{% endif %}
										{% endfor %}
									{% endfor %}
								</select>
							</div>
						{% endif %}
				  	{% endfor %}
				</section> 

			</div>
  {% endfor %}
  <!-- end of outside for loop -->

  <div class='cart-button'>
      <button class="discount-page-button" >Add To Cart</button> 
  </div>

</div>
<!-- bottom of kit section -->

<div class='top-bottom'>
	{{ section.settings.bottom-of-page }}
</div>	

<script>
	// var optionTitle = document.querySelectorAll('.product-container');
	// var options = document.querySelectorAll('option');

	// Setting id for each kit product section
    var kitID = document.getElementsByClassName('kit'); // used to set dynamic kit id
    var kitTotal = document.getElementsByTagName('h4'); // where total kit price will display
    var h3Tags = document.getElementsByTagName('h3'); // prices per product
    var price = 0;  
    var titlePriceId = 0; // Sets an arbitrary id for total section to match to each kit section
    var kitPriceArray = [];

    // Sets a unique id for each kit on the page.
    for(var i = 0; i < kitID.length; i++){
        kitID[i].id = i;
    }

    // Sets unique id for each kit total title.
    for(var j = 0; j < kitTotal.length; j++){
        var kitTotalId = kitTotal[j].id = 50 + j;
    }

    // Updates kit section total on variant change
    var setKitTotal = function(kitIdTarget, kitIdUpdateTotal) {
    	var priceArray = [];
    	kitIdUpdateTotal.forEach(function(price) {
				priceArray.push(Number(price.dataset.price))	
			})

		var sum = priceArray.reduce(function (x,y){
			    return x + y;
			}, 0)

		kitIdTarget.innerHTML = 'Total: ' + '$' + (sum / 100).toFixed(2);
    }

    		// Gathering prices of each product and totalling in the kit headline.
	var updateKitTotal = function(kitIdTarget){
		kitPriceArray = []

		for(var k = 0; k < h3Tags.length; k++) {
			// grabs the 'KIT SECTION ID' from the h3Tags of h3 tags of product prices
			var h3TagsKitId = Number(h3Tags[k].parentNode.parentNode.parentNode.id); 

			// h3 tags id's contain individual product prices
			var productPrice = Number((h3Tags[k].dataset.price / 100).toFixed(2));

			if(h3TagsKitId == titlePriceId){
			    kitPriceArray.push(productPrice);
			}else{
			    titlePriceId++
			    kitPriceArray = [];
			    kitPriceArray.push(productPrice);
			}

			var sum = kitPriceArray.reduce(function (x,y){
			    return x + y;
			}, 0)

			document.getElementById(kitTotalId).innerHTML = 'Total: ' + '$' + sum.toFixed(2);	
		}
	}
	updateKitTotal()

	// Grabs sku from drop down menu for selecting 
	var changeProduct = function(event) {
		var productHandle = event.target.closest('.product-container').id;
		var productImg = event.target.parentElement.parentElement.children[0];
		var productPriceElement = event.target.parentElement.parentElement.children[1];
		var sku = Number(event.target.value);
		var kitIdTarget = event.target.closest('.kit').children[0];
		var kitIdUpdateTotal = event.target.closest('.kit').querySelectorAll('H3')

		productDetails(productHandle, sku, productImg, productPriceElement, kitIdTarget, kitIdUpdateTotal);
	}


	// Accessing store front api when changing product variant from select option list. 
	var productDetails = function(productHandle, sku, productImg, productPriceElement, kitIdTarget, kitIdUpdateTotal) {
		fetch(window.Shopify.routes.root + `products/${productHandle}.js`, {
		}).then((res) => {
				res.json().then(data => {
					var variant = data.variants.find(objSku => {
						return objSku.sku == sku;
					});

					// Product variant image
					productImg.src = variant.featured_image.src;

					// Product variant price
					productPriceElement.innerHTML = new Intl.NumberFormat('en-IN', {
						style: 'currency',
						currency: 'USD',
						maxiumumFractionDigits: -2
					}).format((variant.price /100).toFixed(2))

					productPriceElement.dataset.price = variant.price;
					productPriceElement.id = variant.id;

					setKitTotal(kitIdTarget, kitIdUpdateTotal)
			})
		})
	}

	// Add to cart
	var addToCart = function(e) {
		var products = this.parentElement.querySelectorAll('H3.product-price')
		var productsData = [];

		products.forEach( function(product) {
		    productsData.push({
		        quantity: 1,
		        id: product.id
		    })
		})

		var data = {
		    items: productsData
		}
	
		fetch('/cart/add.js', {
		    body: JSON.stringify(data),
		    credentials: 'same-origin',
		    headers: {
		        'Content-Type': 'application/json'
		    },
		    method: 'POST'
		}).then((response) => {
		    response.json();
		    window.location.reload();
		}).then(data => {
		    console.log("Success", data)
		}).catch((err) => {
		    console.error(err)
		});
	}

	window.addEventListener('load', function(e) {
	    Array.prototype.forEach.call(
	        document.getElementsByClassName('cart-button'), function(element) {
	            element.addEventListener('click', addToCart)
	        }
	    );

	    Array.prototype.forEach.call(
	        document.getElementsByClassName('variants-selector'), function(element) {
	            element.addEventListener('change', changeProduct)
	        }
	    );
	});
</script>

{% schema %}
	{
		"name": "Build A Kit",
		"tag": "div",
		"settings": [
			{	
				"id": "title",
				"type": "text",
				"label": "Kit Title"
			},
			{
				"type": "html",
				"label": "Kit details",
				"id": "top-of-page"
			},
			{
				"type": "html",
				"label": "More info",
				"id": "bottom-of-page"
			},
			{
				"type": "link_list",
				"id": "other-kits",
				"label": "Links to other kits"
			}
		],
		"blocks": [
			{
			"type": "text",
			"name": "product",
  			"settings": [
				{	
					"id": "title",
					"type": "text",
					"label": "Kit Title"
				},
				{
					"type": "text",
					"id": "productOne",
					"label": "First Option"
				},
				{
					"type": "text",
					"id": "productTwo",
					"label": "Second Option"
				},
				{
					"type": "text",
					"id": "productThree",
					"label": "Third Option"
				},
				{
					"type": "text",
					"id": "productFour",
					"label": "Fourth Option"
				},
				{
					"type": "text",
					"id": "productFive",
					"label": "Fifth Option"
				},
				{
					"type": "text",
					"id": "productSix",
					"label": "Sixth Option"
				},
				{
					"type": "product",
					"id": "product",
					"label": "Product"
				},
				{
					"id": "description",
					"type": "text",
					"label": "Product Description",
					"info": "Limit 350 charancters"
				},
				{
      				"type": "image_picker",
      				"id": "image",
      				"label": "Use when there is only one variant for a product!",
      				"info": "1200 x 800px .jpg recommended"
    			}
  					]
				}
		],
		"presets": [
			{
				"category": "Product",
				"name": "Build A Kit",
				"settings": {}
			}
		]
	}
{% endschema %}

{% javascript %}
		



		
{% endjavascript %}




