<div class="main-title">
	<h1>{{ section.settings.title }}</h1>
</div>

<div class='top-bottom'>
	{{ section.settings.top-of-page }}
</div>


<!-- Top of kit page -->
<div class="kit" id=0>
	<h4 id=50 class="kitTotal"></h4>

	<!-- outside for loop -->
  {% for block in section.blocks %}
  		{% assign sku = block.settings.product_sku %}
  		{% assign prod = block.settings.product %}
  
		<div class="product-container">
	  	<section class="title-description">
	  		<h2 class="prod-title">{{ block.settings.title }}</h2>
	  		<p>{{ block.settings.description | truncate: 352 }}</p>
	  	</section>

	  	<section class="eachProduct">
		  	{% for option in prod.variants %}
          {% if option.sku == sku %}
      			{% if prod.has_only_default_variant %}
      				<img src='{{ block.settings.image | img_url }}' style='width: 200px;'>
						{% else %}
							<img src='{{ option.image | img_url }}' style='width: 200px;'>                                                                          
    			{% endif %}
            	<h3 style="" id='{{ option.price }}' data-price='option.price' class='product-price'>{{ option.price | money }}</h3>
    				{% if option.title != 'Default Title' %}
            		<h2 class='product-model' id='{{ option.id }}'>{{ option.title }}</h2>
    				{% endif %}
          {% endif %}
		  	{% endfor %}
			</section> 
		</div>
  {% endfor %}
  <!-- end of outside for loop -->

  <div class='cart-button'>
      <button class="discount-page-button" >Add To Cart</button> 
  </div>
</div>
<!-- bottom of kit section -->



<div class='top-bottom'>
	{{ section.settings.bottom-of-page }}
</div>


{% schema %}
	{
		"name": "Multiple Products",
		"tag": "div",
		"settings": [
			{	
				"id": "title",
				"type": "text",
				"label": "Kit Title"
			},
			{
				"type": "html",
				"label": "Kit details",
				"id": "top-of-page"
			},
			{
				"type": "html",
				"label": "More info",
				"id": "bottom-of-page"
			},
			{
				"type": "link_list",
				"id": "other-kits",
				"label": "Links to other kits"
			}
		],
		"blocks": [
			{
			"type": "text",
			"name": "product",
  			"settings": [
				{	
					"id": "title",
					"type": "text",
					"label": "Kit Title"
				},
				{
					"type": "text",
					"id": "product_sku",
					"label": "Product Sku"
				},
				{
					"type": "product",
					"id": "product",
					"label": "Product"
				},
				{
					"id": "description",
					"type": "text",
					"label": "Product Description",
					"info": "Limit 350 charancters"
				},
				{
      				"type": "image_picker",
      				"id": "image",
      				"label": "Use when there is only one variant for a product!",
      				"info": "1200 x 800px .jpg recommended"
    			}
  					]
				}
		],
		"presets": [
			{
				"category": "Product",
				"name": "Multiple Products",
				"settings": {}
			}
		]
	}
{% endschema %}

{% javascript %}
		



		
{% endjavascript %}


