{% assign allProduct = all_products['cloudlab-advance-grow-tents'] %}

<div class="center" style="display: flex; flex-direction: column;">
	<h1 style="font-size: 3vw; font-weight: bold; color: black; text-align: center;">{{ section.settings.title }}</h1>
  
  	{% assign sku = section.settings.product_sku %}
  	{% assign secSku = section.settings.product_sku %}
  	<h1>Sku: --- {{ secSku }}</h1>
  
	{% for option in allProduct.variants %}
		{% if option.sku == secSku %}
			<h3 style="text-align: center;">Price: {{ option.price | money }}</h3>
  			<p style='text-align: center;'>{{ option.id }}</p>
  			
  			<img src='{{ option | img_url }}' style='width: 200px; margin: auto;'>
		{% endif %}
	{% endfor %}
</div>

{% schema %}
	{
		"name": "Build A Kit",
		"tag": "aside",
		"settings": [
			{
				"id": "title",
				"type": "text",
				"label": "title"
			},
			{
				"type": "text",
				"id": "product_sku",
				"label": "Product Sku"
			},
			{
				"type": "product",
				"id": "product",
				"label": "Product"
			}
		],
		"presets": [
			{
				"category": "Product",
				"name": "Build A Kit",
				"settings": {}
			}
		]
	}
{% endschema %}