<div class="main-title">
	<h1>{{ section.settings.title }}</h1>
</div>

<div class='top-bottom'>
	{{ section.settings.top-of-page }}
</div>


<!-- Top of kit page -->
<div class="kit" id=0>
	<h4 id=50 class="kitTotal"></h4>

	<!-- outside for loop -->
  {% for block in section.blocks %}
  		{% assign sku = block.settings.product_sku %}
  		{% assign prod = block.settings.product %}
  
		<div class="product-container">
	  	<section class="title-description">
	  		<h2 class="prod-title">{{ block.settings.title }}</h2>
	  		<p>{{ block.settings.description | truncate: 352 }}</p>
	  	</section>

	  	<section class="eachProduct">
		  	{% for option in prod.variants %}
          {% if option.sku == sku %}
      			{% if prod.has_only_default_variant %}
      				<img src='{{ block.settings.image | img_url }}' style='width: 200px;'>
						{% else %}
							<img src='{{ option.image | img_url }}' style='width: 200px;'>                                                                          
    			{% endif %}
            	<h3 style="" id='{{ option.price }}' data-price='option.price' class='product-price'>{{ option.price | money }}</h3>
    				{% if option.title != 'Default Title' %}
            		<h2 class='product-model' id='{{ option.id }}'>{{ option.title }}</h2>
    				{% endif %}
          {% endif %}
		  	{% endfor %}
			</section> 
		</div>
  {% endfor %}
  <!-- end of outside for loop -->

  <div class='cart-button'>
    <form id='kit-form'>
      <input type="hidden" name="id" value='1' id='value'/>
      <button onclick="idSubmit()" class="discount-page-button" >Add To Cart</button>
    </form> 
  </div>
</div>
<!-- bottom of kit section -->



<div class='top-bottom'>
	{{ section.settings.bottom-of-page }}
</div>

<script>
		var kitID = document.getElementsByClassName('kit');
		var kitTotal = document.getElementsByTagName('h4');
		// console.log('Kit Totals:---', kitTotal)
		var productContainer = document.getElementsByClassName('eachProduct');
		var collection = document.getElementsByTagName('h3');
		// console.log('Collection of h3: --- ', collection)
		var price = 0;	

		// Sets a unique id for each kit on the page.
		for(var i = 0; i < kitID.length; i++){
			kitID[i].id = i;
			// console.log(Number(kitTotal[i].id) + i)
		}

		// Sets unique id for each kit total title.
		for(var i = 0; i < kitTotal.length; i++){
			kitTotal[i].id = 50 + i;
			// console.log('Kit Total in for loop', kitTotal)
		}

	// Gathering prices of each product and totalling in the kit headline.
	  var titlePrice = 0;

  for(var i = 0; i < collection.length; i++) {
  	// price = price + Number(collection[i].id); // Add total price to totalling section
  	var collectionID = Number(collection[i].parentNode.parentNode.parentNode.id);
  	// var kitTotalID = 
  	// console.log('Kit total ID:---', kitTotal[i])
  	var productPrice = Number(collection[i].id);
  	// console.log('Product price: ---', productPrice, '   Kit ID: ---', collectionID);

  	if(collectionID !== titlePrice){
  		price = 0;
  		titlePrice++
  		// console.log('kit id change?', titlePrice)
  	}

  	if(collectionID == titlePrice){
  		console.log('Price list per kit id:---', productPrice, 'ID:---', titlePrice, collectionID);
  		price = price + productPrice
			document.getElementById(50).innerHTML = 'Total: ' + '$' + (Number(price) / 100).toFixed(2);

  	}
  	
  }

	// Adding products to the cart and refreshing the page.
	var formBuildKit = document.getElementById('kit-form');
	var formValue = document.getElementById('value');
	var id = document.getElementsByClassName('product-model'); // id of each product placed in the product title h2 element.
	var idArr = [];

		// Add each product id to the id array. ( idArr )
	for(var i = 0; i < id.length; i++) {
		idArr.push(id[i].id );
	}

	// console.log('ID Array:--', idArr)
	var prodData = idArr.map(id => {
		return {
			quantity: 1,
			id: id
		}
	})

	var data = {
		items: prodData
	}

	// console.log('data: -- ', data)

function idSubmit() {
	console.log('submit --- line 119')
	fetch('/cart/add.js', {
		body: JSON.stringify(data),
		credentials: 'same-origin',
		headers: {
			'Content-Type': 'application/json',
			'X-Requested-With': 'XMLHttpRequest'
		},
		method: 'POST'
	}).then((response) => {
		console.log('response', response.json());
		window.location.reload();
		response.json();
	}).then(data => {
		console.log("Success", data)
		console.log("One more")
	}).catch((err) => {
		console.log('error');
		console.error(err)
	});
}
	
</script>

{% schema %}
	{
		"name": "Multiple Products",
		"tag": "div",
		"settings": [
			{	
				"id": "title",
				"type": "text",
				"label": "Page Title"
			},
			{
				"type": "html",
				"label": "Kit details",
				"id": "top-of-page"
			},
			{
				"type": "html",
				"label": "More info",
				"id": "bottom-of-page"
			},
			{
				"type": "link_list",
				"id": "other-kits",
				"label": "Links to other kits"
			}
		],
		"blocks": [
			{
			"type": "text",
			"name": "product",
  			"settings": [
				{	
					"id": "title",
					"type": "text",
					"label": "title"
				},
				{
					"type": "text",
					"id": "product_sku",
					"label": "Product Sku"
				},
				{
					"type": "product",
					"id": "product",
					"label": "Product"
				},
				{
					"id": "description",
					"type": "text",
					"label": "Product Description",
					"info": "Limit 350 charancters"
				},
				{
      				"type": "image_picker",
      				"id": "image",
      				"label": "Use when there is only one variant for a product!",
      				"info": "1200 x 800px .jpg recommended"
    			}
  					]
				}
		],
		"presets": [
			{
				"category": "Product",
				"name": "Multiple Products",
				"settings": {}
			}
		]
	}
{% endschema %}

{% javascript %}
		



		
{% endjavascript %}


