<div class="main-title">
	<h1>{{ section.settings.title }}</h1>
</div>

<div class='top-bottom'>
	{{ section.settings.top-of-page }}
</div>

<div class="kit">
	<h4 id='total'></h4>
  {% for block in section.blocks %}
  		{% assign sku = block.settings.product_sku %}
  		{% assign prod = block.settings.product %}
  
		<div class="product-container">
	  	<section class="title-description">
	  		<h2 class="prod-title">{{ block.settings.title }}</h2>
	  		<p>{{ block.settings.description | truncate: 352 }}</p>
	  	</section>

	  	<section class="eachProduct">
		  	{% for option in prod.variants %}
          {% if option.sku == sku %}
      			{% if prod.has_only_default_variant %}
      				<img src='{{ block.settings.image | img_url }}' style='width: 200px;'>
					{% else %}
						<img src='{{ option.image | img_url }}' style='width: 200px;'>                                                                                   
    			{% endif %}
              <h3 style="" id='{{ option.price }}' class='product-price'>{{ option.price | money }}</h3>
      				{% if option.title != 'Default Title' %}
              		<h2 class='product-model' id='{{ option.id }}'>{{ option.title }}</h2>
      				{% endif %}
          {% endif %}
		  	{% endfor %}
			</section> 
		</div>
  {% endfor %}

  <div class='cart-button'>
    <form id='kit-form'>
      <input type="hidden" name="id" value='1' id='value'/>
      <button onclick="idSubmit()" class="discount-page-button" >Add To Cart</button>
    </form> 
  </div>

</div>

<div class='top-bottom'>
	{{ section.settings.bottom-of-page }}
</div>

<script>
	var productJS = {{ prod.variants | json }}
	let prodSku = {{ sku }}
	console.log('Product from JS: ', productJS[0].sku, prodSku)

	for(let i = 0; i < productJS.length; i++ ){
		if(productJS[i].sku == sku ){
			console.log('sku', productJS[i].sku)
		}
	}
</script>


{% schema %}
	{
		"name": "Multiple Products",
		"tag": "div",
		"settings": [
			{	
				"id": "title",
				"type": "text",
				"label": "Page Title"
			},
			{
				"type": "html",
				"label": "Kit details",
				"id": "top-of-page"
			},
			{
				"type": "html",
				"label": "More info",
				"id": "bottom-of-page"
			},
			{
				"type": "link_list",
				"id": "other-kits",
				"label": "Links to other kits"
			}
		],
		"blocks": [
			{
			"type": "text",
			"name": "product",
  			"settings": [
				{	
					"id": "title",
					"type": "text",
					"label": "title"
				},
				{
					"type": "text",
					"id": "product_sku",
					"label": "Product Sku"
				},
				{
					"type": "product",
					"id": "product",
					"label": "Product"
				},
				{
					"id": "description",
					"type": "text",
					"label": "Product Description",
					"info": "Limit 350 charancters"
				},
				{
      				"type": "image_picker",
      				"id": "image",
      				"label": "Use when there is only one variant for a product!",
      				"info": "1200 x 800px .jpg recommended"
    			}
  					]
				}
		],
		"presets": [
			{
				"category": "Product",
				"name": "Multiple Products",
				"settings": {}
			}
		]
	}
{% endschema %}

{% javascript %}
		



		
{% endjavascript %}


